.about-me {
    display: flex;
}

.about-me-tab {
    display: none;
}

#profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 65%;
}

.about-desc {
    padding-left: 40px;
    padding-right: 80px;
    flex-wrap: wrap;
}

@media(max-width: 1024px) {
    .about-me {
        display: none;
    }

    .about-me-tab {
        margin-top: 40px;
        display: flex;
    }
}

@media(max-width: 768px) {
    .about-me-tab {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .about-desc {
        margin-top: 20px;
        padding: 0 10px;
    }

    .about-desc h3 {
        text-align: center;
        margin-bottom: 20px;
    }
}