footer {
    margin-top: 40px;
    background-color: black;
    height: 60px;
}

.copyright {
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    height: 100%;
    height: 100%;
}