.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.projects h2 {
    text-align: center;
}

.project {
    width: 95%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 20px;
    box-shadow: 0 4px 8px var(--box-shadow);
    transition: transform .5s;
}

.project:hover {
    transform: translateX(1.2%);
}

.project-card {
    height: 13em;
    min-width: 20em;
    position: relative;
    display: flex;
    border-radius: 20px;
    background-color: var(--secondary-color);
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-size 2s;
}

#proj-1 {
    background-image: url(../assets/wfc-proj.png);
}

#proj-2 {
    background-image: url(../assets/asm-proj.png);
}

#proj-3 {
    background-image: url(../assets/fem-proj.png);
    background-position-y: 30%;
}

#proj-4 {
    background-image: url(../assets/sql-proj.png);
}

.project-card a {
    height: 20px;
    width: auto;
    transition: 
        height .6s;
}

.project-card a:hover {
    height: 28px;
} 

.project-source-code {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9rem;
}

.source-btn {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.source-btn i {
    margin-right: 10px;
}

.project-desc {
    margin-left: 20px;
    margin-right: 40px;
}

.project-desc .date {
    font-style: italic;
}

.git {
    height: 80px;
}

.git i {
    margin-left: 30px;
}

.git-link {
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
}

@media (max-width: 1400px) {
    .project-card {
        min-width: 15em;
    }
}

@media (max-width: 1250px) {
    .project-card {
        min-width: 11em;
    }
}

@media (max-width: 1024px) {
    .project-card {
        min-width: 12em;
    }

}

@media(max-width: 768px) {
    .project {
        flex-direction: column;
        width: 100%;
    }
    .project-card {
        background-image: none;
        height: calc(auto+10px);
        width: 100%;
        order: 1;
    }
    .project-source-code {
        position: inherit;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }

    .project-desc {
        margin: 20px 25px;
    }

    .project-desc h3 {
        text-align: center;
        margin-bottom: 5px;
    }

    .git {
        flex-direction: row;
        padding: 0.5em 0;
    }

    .technology {
        text-align: end;
    }
}

@media(max-width: 480px) {
    .projects {
        margin-top: 30px;
    }

    .project {
        margin-top: 30px;
    }
}

@media(max-width: 340px) {
    .git {
        padding: 1rem 0;
    }
}
