:root {
    --primary-color: #F1EFEF;
    --secondary-color: #CCC8AA;
    --text-color: #191717;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    font-family: "Poppins";
    background-color: var(--primary-color);
}

h1, h2, h3, p {
    color: var(--text-color);
}

body {
    height: 100%;
    width: 100%;
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.5rem;
}

.main-wrap {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
}
