:root {
    --primary-color: #F1EFEF;
    --secondary-color: #CCC8AA;
    --text-color: #191717;
    --box-shadow: rgba(0, 0, 0, 0.1);
    --link-color: rgb(89, 19, 155);
    --border-color: black;
    --icons-hover-color: white;
    --contact-btn-hover-color: rgb(56, 56, 56);

    --primary-color-dark: #1f242a;
    --secondary-color-dark: #455058;
    --box-shadow-dark: rgb(0, 0, 0, 0.5);
    --text-color-dark: rgb(216, 216, 216);
    --link-color-dark: rgb(225, 139, 225);
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 100%;
    width: 100%;
    min-width: 300px;
    font-family: "Poppins";
}

body {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

body h1, h2, h3, p {
    color: var(--text-color);
}

h2 {
    font-size: 2.1rem;
}

h3 {
    font-size: 1.5rem;
}

.main-wrap {
    height: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 100px;
}

.link {
    color: var(--link-color);
}

@media(max-width: 768px) {
    .main-wrap {
        padding: 0 80px;
    }
}

@media(max-width: 630px) {
    .main-wrap {
        padding: 0 65px;
    }
}

@media(max-width: 530px) {
    .main-wrap {
        padding: 0 50px;
    }
}

@media(max-width: 480px) {
    .main-wrap {
        padding: 0 20px;
    }
}

