.technologies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.technologies h2 {
    text-align: center;
}

.tech-icons {
    margin-top: 25px;
    width: 80%;
    min-width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-icons {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.rest-icons {
    width: 60%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 550px) {
    .tech-icons {
        min-width: 0;
        width: 100%;
    }

    .first-icons {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .rest-icons {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

@media(max-width: 480px) {
    .technologies {
        margin-top: 30px;
    }
}

@media(max-width: 360px) {
    .first-icons {
        justify-content: center;
    }

    .rest-icons {
        justify-content: center;
    }

    .tech-icons a {
        margin: 5px;
    }
}